/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Roboto, Oxygen, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: hsla(210, 100%, 98%, 0.719);
  color: hsl(209, 57%, 45%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(209, 72%, 66%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  Custom Classes */
/* section */
.container {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1200px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.loading {
  text-align: center;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #386af4;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 4rem;
  margin-top: -1.5rem;
  text-align: center;
}

/* Jobs */
.jobs-area {
  width: 80vw;
  margin: 0 auto;
  max-width: 1200px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: hsl(207, 100%, 51%);
}
.job-btn:hover {
  color: #386af4;
  box-shadow: 0 2px #386af4;
}
.active-btn {
  color: #386af4;
  box-shadow: 0 2px #386af4;
}

.job-details h3 {
  font-weight: 400;
}
.job-details h4 {
  text-transform: uppercase;
  color: hsl(231, 59%, 53%);
  background: hsl(210, 60%, 90%);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
.work-date {
  letter-spacing: 0.1rem;
}
.job-description {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-description p {
  margin-bottom: 0;
  color: hsl(209, 49%, 35%);
}
.icon {
  color: #386af4;
}
@media screen and (min-width: 992px) {
  .jobs-area {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 #386af4;
  }
  .job-btn:hover {
    box-shadow: -2px 0 #386af4;
  }
}
.btn {
  text-transform: uppercase;
  background: #386af4;
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.btn:hover {
  color: #386af4;
  background: transparent;
  border: 2px solid #386af4;
}
